<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wd.mybatis.mapper.UserMapper">
<!--
    mapper接口和映射文件两个一致
    1.映射文件中的namespace值要与mapper接口的全类名一致。
    2.映射文件中的sql标签属性id要与mapper接口中的方法名一致。
-->
    <!--int insertUser();-->
    <insert id="insertUser">
        INSERT INTO t_user(id, username, password, age, gender, email) VALUES(null, "wd", "1234", 18, "男", "wd@qq.com")
    </insert>
    
</mapper>