<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <script type="text/javascript" th:src="@{/static/js/vue.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/axios.min.js}"></script>
</head>
<body>
    <div id="app">
        <h1  @click="AjaxTest1">首页</h1>
        <input @click="AjaxTest" type="button" value="SpringMVC处理Ajax请求"><br>
        <input @click="AxiosRequestBodyTest" type="button" value="@RequestBody处理Axios请求"><br>
        <div ref="qwer">{{shadiao}}</div>
        <div>{{resp}}</div>
    </div>
    <script type="text/javascript">
        var vue = new Vue({
            el:"#app",
            data:{  shadiao:"",
                    resp:""
            },
            methods:{
                AjaxTest(){
                    axios.post(
                        "/ajax/test?id=1001",
                        {username:"admin",password:"12345"}
                    ).then(Response=>{
                        console.log(Response.data);
                    })
                },
                AxiosRequestBodyTest(){
                    axios.post(
                        "/axios/requestbody/test",
                        {username:"ljc",password:"qwe123",age:22,gender:0}
                    ).then(Response=>{
                        console.log(Response.data);
                        this.resp = (Response.data);
                    })
                },
                AjaxTest1(){
                    axios.get(
                        "https://api.shadiao.pro/du",
                    ).then(Response=>{
                        this.shadiao = (Response.data.data.text);
                    })
                    // console.log(this.$refs.qwer);
                }
            }
        });
    </script>
</body>
</html>